<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719417157029-b3akml0g6l59tsnsr1c6a2dihsj30n0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719417157029-b3akml0g6l59tsnsr1c6a2dihsj30n0n</string>
	<key>API_KEY</key>
	<string>AIzaSyDOt4-GNgFedYepNF5BkUteLge74kua8_0</string>
	<key>GCM_SENDER_ID</key>
	<string>719417157029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.pixolity.mynotes</string>
	<key>PROJECT_ID</key>
	<string>flutter-mynote-2pos2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mynote-2pos2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719417157029:ios:4c33067760fccb31cd744c</string>
</dict>
</plist>